#carre{
    width: 500px;
    height: 500px;
    border: 2px;
    border-color: chocolate;
    border-radius: 10px;
    background-color: bisque;
    margin: 50px;
    
}
button{
    margin: 150px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}